.App {
  text-align: center;
  padding: 0 3%;
}

#user-card.ui.card {
  width: 400px;
}

.followers-container {
  display: flex;
  flex-flow: row wrap;
}

.followers-container #card-container {
  width: 200px;
  margin: 1% auto;
}
